{{ partial "header.html" . }}

<article class="post">
	<header class="post-title">
		<h1>{{ .Title }}</h1>
		<h3>{{ if .Params.author }} ◎ {{ .Params.author }} {{ end }}</h3>
	</header>
	{{ .Content }}

	<div class="post-nav">
		<span class="nav-prev">{{ with .PrevInSection }}&larr; <a href="{{ .RelPermalink }}"> {{ .Title }} </a> {{ end }}</span>
		<span class="nav-next">{{ with .NextInSection }} <a href="{{ .RelPermalink }}"> {{ .Title }} </a>&rarr; {{ end }}</span>
	</div>
	
		{{ partial "disqus.html" . }}	

	{{ partial "footer.html" . }}
</article>

